<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice</title>
    <link rel="stylesheet" href="/static/choice.css">
</head>
<body>
    <h2>Select your input type</h2>
    <form action="" method="post">
        <input type="radio" name="data" id="Text" value="Text">
        <label for="Text">Text</label>
        <input type="radio" name="data" id="Youtube" value="Youtube">
        <label for="Youtube">Youtube</label>
        <input type="radio" name="data" id="pdf" value="pdf">
        <label for="pdf">PDF</label><br><br>
        <button type="submit">Submit</button>
    </form>



</body>
</html>